/Saved/
!Saved/Config
!Saved/Config/WindowsEditor
!Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
/Intermediate
/.vs
/Build
/Plugins
/Content/VigilanteContent
Binaries/
*.sln
*_BuiltData.uasset
East_Ship_Sovremenny.png
West_Carrier_CVN76.png
West_Fighter_F15E.png
West_Missile_AIM120.png
East_Fighter_Su33.png